*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar {
  background-color: #319795;
}

.nav-link{
  color: white!important;
}

.jumbotron {
  height: 300px;
  background-color: #E9FFFB!important;
}

.jumbotron .coba {
  margin-top: 50px;
}

.coba p {
  color: #38B2AC;
  font-size: 24px;
}

.kelas h3 {
  border-bottom: 3px solid #CBD5E0;
  margin-right: 850px;
}

.card {
  margin-bottom: 20px;
}

.card-title {
  font-size: 16px!important;
  font-weight: bold!important;
}

.tombol {
  text-align: center;
  margin-bottom: 100px;
}

.text-center {
  height: 700px;
  margin-top: 20px;
  margin-bottom: 100px;
  border-bottom: 2px solid grey;
}

.text-center p {
  font-size: 18px;
  margin-bottom: 150px;
}

.foto {
  border: 5px solid lightblue;
  border-radius: 100%;
  margin-bottom: 10px;
}

.kontak{
  height: 200px;
  padding-top: 30px;
}

.kontak a {
  display: block;
}

.footer {
  height: 40px;
  background-color: #44505E;
  padding-top: 6px;
}

.footer p{
  color: white;
  text-align: center;
}